{{> head}}

{{> nav  }} 
          
<div class="row">
    <div class="col-8">
        <h1>Login</h1>
        <p>Lowknfje fenjbnjkb</p>
    </div>
    <div class="col-4">
        <img src="assets/img/accesoRestringido.jpg" class="img-thumbnail" alt="">
    </div>
</div>    
{{> footer}}